body {
  margin: 0;
  padding: 0;
  font-family: Ariel ;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1, h2 {
  text-align: center;
  color: #2e8b57;
}

input[type="date"], textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
}

input:focus, textarea:focus {
  border-color: #2e8b57;
  outline: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e8b57;
  color: white;
  cursor: pointer;
  flex: 1;
  margin: 5px;
}

button:hover {
  opacity: 0.85;
}

#citat {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  color: #555;
}
